<!-- https://pythonise.com/series/learning-flask/flask-message-flashing -->
<div class="container" style="margin-top:60px;>
    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            {% for category, message in messages %}
                <div class="container text-center alert-dismissible fade show p-0">
                    <div class="animate__animated animate__fadeInDown alert text-center alert-{{ category if category != 'message' else 'info' }}  mb-2" role="alert" class="img-fluid animated fadeIn">
                        {{ message }}
                        <button type="button" class="close" data-bs-dismiss="alert" dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                </div>
            {% endfor %}
        {% endif %}
    {% endwith %}
</div>
