<footer class="mt-auto py-2">
  <div class="container-fluid">
      <hr class="py-0 bg-light" />
        <div class="row">
            <div class="col-md-6">Projet fait par Nicolas Barbière avec la template de Mr.Maco<span class="small"><br><a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ" target="_blank">Gagner une montre ici !</a></span></div>
            <div class="col-md-3"></div>
            <div class="col-md-3 text-right small align-self-end">2021.06.07</div>
        </div>
  </div>
</footer>
