{% extends "base.html" %}
{% block title %} Temporel Watch - Home {% endblock %}
{% block body %}
<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <h2>
                <center><FONT face="Times New Roman">Bienvenue chez Temporel Watch</FONT></center>
            </h2>
               <h4>
                <center><FONT face="Times New Roman">Ne perdez jamais la notions du temps</FONT></center> <br>
               </h4>

                <div style="text-align: center">

                    <div class="row">
                        <div class="col"></div>
                        <div class="col">
                            <div class="imageTitre">
                                <a href="materiau_afficher/ASC/0"><img
                                        src="https://evoliatransition.com/wp-content/uploads/2019/06/pierreprecieuse3-1030x675.jpg"
                                        height="225"/></a>

                                <h5>
                                    <FONT face="Times New Roman">Matériau(x)</FONT>
                                </h5>
                            </div>

                        </div>
                        <div class="col">
							<div class="imageTitre">
								<a href="montre_materiau_afficher/0"><img
                                    src="https://secure-journal.hautehorlogerie.org/wp-content/uploads/2017/03/A.-Lange-So%CC%88hne-Little-Lange-1-Moonphase.jpg"
                                    height="225" width="350"/></a>

                                <h5>
                                    <FONT face="Times New Roman">Montre(s)</FONT>
                                </h5>

                            </div>
                        </div>
                        <div class="col"></div>
                    </div>
                    <div class="row">
                        <div class="col"></div>
                        <div class="col text-center">

                        </div>
                        <div class="col"></div>
                    </div>
                </div>
        </div>
    </div>
</div>
{% endblock %}
