{% extends "base.html" %}
{% block title %} Temporel Watch - Editer montres {% endblock %}
{% block body %}
<div class="container">
	<div class="row">
		<div class="col-md-12">
			<p>
				Editer une montre
			</p>
			<form action="" method="POST" novalidate>
				<!-- Protection contre les attaques Cross-Site Request Forgery (CSRF) -->
				{{ form_update.hidden_tag() }}
				<div class="form-group">
					<p>
						{{ form_update.nom_montre_update_wtf.label }}<br>
						{{ form_update.nom_montre_update_wtf(size=42) }}<br>
						{% for error in form_update.nom_montre_update_wtf.errors %}
							<span style="color: red;">[{{ error }}]</span>
						{% endfor %}
					</p>

					<p>
						{{ form_update.marque_montre_update_wtf.label }}<br>
						{{ form_update.marque_montre_update_wtf(size=42) }}<br>
						{% for error in form_update.marque_montre_update_wtf.errors %}
							<span style="color: red;">[{{ error }}]</span>
						{% endfor %}
					</p>

					<p>
						{{ form_update.description_montre_update_wtf.label }}<br>
						{{ form_update.description_montre_update_wtf(size=42) }}<br>
						{% for error in form_update.description_montre_update_wtf.errors %}
							<span style="color: red;">[{{ error }}]</span>
						{% endfor %}
					</p>

					<p>
						{{ form_update.photo_montre_update_wtf.label }}<br>
						{{ form_update.photo_montre_update_wtf(size=42) }}<br>
						{% for error in form_update.photo_montre_update_wtf.errors %}
							<span style="color: red;">[{{ error }}]</span>
						{% endfor %}
					</p>

					<p>
						{{ form_update.prix_montre_update_wtf.label }}<br>
						{{ form_update.prix_montre_update_wtf(size=42) }}<br>
						{% for error in form_update.prix_montre_update_wtf.errors %}
							<span style="color: red;">[{{ error }}]</span>
						{% endfor %}
					</p>
				</div>
				{{ form_update.submit(class="btn btn-primary") }}
			</form>
		</div>
	</div>
</div>
{% endblock %}

