{% extends "base.html" %}
{% block title %} Temporel Watch - Ajouter montre {% endblock %}
{% block body %}
<div class="container">
	<div class="row">
		<div class="col-md-12">
			<p>
				Ajouter une nouvelle montre
			</p>
			<form action="" method="POST" novalidate>
				<!-- Protection contre les attaques Cross-Site Request Forgery (CSRF) -->
				{{ form.hidden_tag() }}
				<div class="form-group">
					<p>
						{{ form.nom_montre_wtf.label }}<br>
						{{ form.nom_montre_wtf(size=32) }}<br>
						{% for error in form.nom_montre_wtf.errors %}
							<span style="color: red;">[{{ error }}]</span>
						{% endfor %}
					</p>
					<p>
						{{ form.marque_montre_wtf.label }}<br>
						{{ form.marque_montre_wtf(size=32) }}<br>
						{% for error in form.marque_montre_wtf.errors %}
							<span style="color: red;">[{{ error }}]</span>
						{% endfor %}
					</p>
					<p>
						{{ form.description_montre_wtf.label }}<br>
						{{ form.description_montre_wtf(size=32) }}<br>
						{% for error in form.description_montre_wtf.errors %}
							<span style="color: red;">[{{ error }}]</span>
						{% endfor %}
					</p>
					<p>
						{{ form.photo_montre_wtf.label }}<br>
						{{ form.photo_montre_wtf(size=32) }}<br>
						{% for error in form.photo_montre_wtf.errors %}
							<span style="color: red;">[{{ error }}]</span>
						{% endfor %}
					</p>
					<p>
						{{ form.prix_montre_wtf.label }}<br>
						{{ form.prix_montre_wtf(size=32) }}<br>
						{% for error in form.prix_montre_wtf.errors %}
							<span style="color: red;">[{{ error }}]</span>
						{% endfor %}
					</p>
				</div>
				{{ form.submit(class="btn btn-primary") }}
			</form>
		</div>
	</div>
</div>
{% endblock %}

