{% extends "base.html" %}
{% block title %} Temporel Watch - Editer Nombre {% endblock %}
{% block body %}
<div class="container">
	<div class="row">
		<div class="col-md-12">
			<p>
				Editer le nombre de montre
			</p>
			<form action="" method="POST" novalidate>
				<!-- Protection contre les attaques Cross-Site Request Forgery (CSRF) -->
				{{ form_nombre.hidden_tag() }}
				<div class="form-group">
					<p>
						{{ form_nombre.nombre_montre_wtf.label }}<br>
						{{ form_nombre.nombre_montre_wtf(size=42) }}<br>
						{% for error in form_nombre.nombre_montre_wtf.errors %}
							<span style="color: red;">[{{ error }}]</span>
						{% endfor %}
					</p>
				</div>
				{{ form_nombre.submit(class="btn btn-primary") }}
			</form>
		</div>
	</div>
</div>
{% endblock %}

