{% extends "base.html" %}
{% block title %} Temporel Watch - Montre(s) {% endblock %}
{% block body %}
<div class="container">
	<div class="col-md-12">
		<table class="table table-responsive-sm">
            {% if data %}
				<thead>
					<tr>

						<th class="" >
						  <center>Nom</center>
						</th>
						<th class="" >
						  <center>Marques</center>
						</th>
						<th class="" >
						  <center>Descriptions</center>
						</th>
						<th class="" >
						  <center>Photos</center>
						</th>
						<th class="" >
						  <center>Prix</center>
							<center>(CHF)</center>
						</th>
					</tr>
				</thead>
			{% endif %}
			{% for row in data %}
			<tbody>
				<tr>
					  <th class="align-middle">
						<center>{{ row.nom_montre }}</center>
					  </th>
					  <th class="align-middle">
						<center>{{ row.marque_montre|default("", True) }}</center>
					  </th>
					  <th class="align-middle">
						<center>{{ row.description_montre|default("", True) }}</center>
					  </th>
					  <th class="align-middle">
						<center><img class="img" src={{ row.photo_montre|default(None, True) }} style="border: 0;display:block; width:150px; max-height:auto;"  alt = "L'image n'a pas pu s'afficher :("></center>
					  </th>
					  <th class="align-middle">
						<center>{{ row.prix_montre|default("", True) }}</center>
					  </th>
					  <th class="align-middle">
						<a class="btn btn-primary" href="{{ url_for('montre_ajouter_wtf') }}" role="button">Ajouter</a>
					  </th>
					  <th class="align-middle">
						<a class="btn btn-warning" href="{{ url_for('montre_update_wtf', id_montre_btn_edit_html=row.id_montre) }}" role="button">Edit</a>
					  </th>
					  <th class="align-middle">
						<a class="btn btn-danger" href="{{ url_for('montre_delete_wtf', id_montre_btn_delete_html=row.id_montre) }}" role="button">Delete</a>
					  </th>
					<tr>
						<td class="align-middle">
							<a class="btn btn-warning" href="{{ url_for('edit_materiau_montre_selected', id_montre_materiau_edit_html=row.id_montre) }}" role="button">Modifier matériau(x)</a>
						</td>
						<td class="align-middle" colspan="5">
							{{ row.MateriauMontre|default("Aucun matériau", True) }}
						</td>
					<td class="align-middle" >
							{{ row.nombre|default("Out of stock", True) }}
						</td>
					<td class="align-middle">
							<a class="btn btn-warning" href="{{ url_for('montre_nombre_wtf', id_montre_btn_nombre_html=row.id_montre) }}" role="button">Edit nombre</a>
						</td>

					</tr>
				</tr>
			</tbody>
			{% else %}
				<tbody>
					<tr>
						<td>
							Aucune Montre.
						</td>
						<td>
							<a class="btn btn-primary" href="{{ url_for('montre_ajouter_wtf') }}" role="button">Add</a>
						</td>
					</tr>
				</tbody>
			{% endfor %}

		</table>
	</div>
</div>
{% endblock %}
